html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before,*:after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin: 0;
}

body{
    margin: 0;
}

:root{
    --primario:#FD2626;
    --secundario: #C60F0F;
    --gris:#3b3b3b;
    --blanco:#ffffff;
    --negro:#1f1f1f;
    --grisClaro:#e1e1e1;
    
    --separacion:5rem;


    --fuentePrincipal:  'Roboto', sans-serif;
    --fuenteSecundaria: font-family: 'Lato', sans-serif;
}
