

.header{
    background-color: var(--gris);
    color: var(--blanco);
}

.imagen-header{
    background: linear-gradient(to right, rgba(33, 29, 29, 0.887), rgba(33, 29, 29, 0.887)), url(../img/header.jpg);
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.rutas a{
    text-decoration: none;
    color: var(--blanco);
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--blanco);
    transition: .2s;
    text-align: center;
}

.rutas a:hover{
    border-bottom: 4px solid var(--primario);
    padding-bottom: 1rem;
}

.contenedor-header{
    padding: 0 2rem;
    min-height: 100%;
}

.contenedor-header p{
    text-align: center;
    font-size: 5rem;
    font-family: 'Kaushan Script', cursive;
    margin: 3rem 0;
}

.img-logo img{
    margin-left: 1rem;
    border-radius: 50%;
    padding-top: 1rem;
}

.buscar{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.buscar input{
    border-radius:1rem;
    border: 1px solid var(--blanco);
    color: var(--blanco);
    background: transparent;
    height: 3rem;
    width: 30rem;
    text-transform: uppercase;
    transition: .3s;
}

.buscar input:hover{
    border-color: var(--primario);
}