

.header{
    background-color: var(--gris);
    color: var(--blanco);
}

.imagen-header{
    background: linear-gradient(to right, rgba(33, 29, 29, 0.887), rgba(33, 29, 29, 0.887)), url(../img/header.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 727px) {
    .barra{
        display: flex;
        justify-content: space-between; 
        flex-direction: row;
    }
}

/* Rutas del menu */

.rutas{
    display: none;
    flex-direction: column;
    margin-top: 1rem;
}

@media (min-width: 727px) {
    .rutas{
        display: flex;
        flex-direction: row;
    }
}

.rutas a{
    text-decoration: none;
    color: var(--blanco);
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--blanco);
    transition: .2s;
    text-align: center;
}

.rutas a:hover{
    border-bottom: 4px solid var(--primario);
    padding-bottom: 1rem;
}

/* Contenido header */

.contenedor-header{
    padding: 0 2rem;
}

.contenedor-header p{
    text-align: center;
    font-size: 5rem;
    font-family: 'Kaushan Script', cursive;
    margin: 3rem 0;
}


/* Logo Enmpresa */

.img-logo img{
    border-radius: 50%;
    padding-top: 1rem;
}

@media (min-width: 726px) {
    .img-logo img{
        margin-left: 1rem;
    }
}

/* Buscador */

.buscar{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.buscar input{
    border-radius:1rem;
    border: 1px solid var(--blanco);
    color: var(--blanco);
    background: transparent;
    height: 3rem;
    width:100%;
    text-transform: uppercase;
    transition: .3s;
}

@media (min-width: 727px) {
    .buscar input{
        width:30rem;
    } 
}
.buscar input:hover{
    border-color: var(--primario);
}

/* Menu Hamburguesa */

.menu{
    display: flex;
    cursor: pointer;
    margin: 1.5rem ;
}

@media (min-width: 727px) {
    .menu{
        display: none;
    }
}


.mostrar{
    display: flex;
    flex-direction: column;
}